<!-- Order Screen-->
<center>
  <h2 style="margin-top: 10%">Complete Your Order</h2>
  <form style = "width: 30%; margin-top:2%;" ng-submit="placeOrder(newOrder)">
   <div class="form-group">
    <label for="name">Name </label>
    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter your full name" ng-model="newOrder.name"required>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="Telephone" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter Phone Number" ng-model="newOrder.phoneNumber" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="building">Building</label>
    <select class="form-control" id="building" ng-model="newOrder.building" required>
      <option value="Boylston - A"> Boylston - A</option>
      <option value="Boylston - B"> Boylston - B</option>
      <option value="Cape House"> Cape House</option>
      <option value="Collins"> Collins</option>
      <option value="Copley - North"> Copley - North</option>
      <option value="Copley - South"> Copley - South</option>
      <option value="Falcone - East"> Falcone - East</option>
      <option value="Falcone - North"> Falcone - North</option>
      <option value="Falcone - West"> Falcone - West</option>
      <option value="Fenway"> Fenway</option>
      <option value="Forest"> Forest</option>
      <option value="Kresge"> Kresge</option>
      <option value="Miller"> Miller</option>
      <option value="Orchard - North"> Orchard - North</option>
      <option value="Orchard - South"> Orchard - South</option>
      <option value="Rhodes"> Rhodes</option>
      <option value="Slade"> Slade</option>
      <option value="Stratton House"> Stratton House</option>
      <option value="Student Center"> Student Center</option>
      <option value="Trees - Alder"> Trees - Alder</option>
      <option value="Trees - Birch"> Trees - Birch</option>
      <option value="Trees - Cedar"> Trees - Cedar</option>
      <option value="Trees - Elm"> Trees - Elm</option>
      <option value="Trees - Maple"> Trees - Maple</option>
      <option value="Trees - Oak"> Trees - Oak</option>
      <option value="Trees - Spruce"> Trees - Spruce </option>
    </select>
  </div>
  <div class="form-group">
    <label for="room">Room Number </label>
    <input type="number" class="form-control" id="room" aria-describedby="room" placeholder="Enter your room number" ng-model="newOrder.room" required>
  </div>
  <div class="row">
      <div class="col-3">
        <label for="choc">Chocolate Chip</label>
        <input type="number" class="form-control" id="choc" aria-describedby="choc" ng-model="newOrder.cc" required>
      </div>
      <div class="col-3">
        <label for="dble">Double Chocolate</label>
        <input type="number" class="form-control" id="dble" aria-describedby="dble" ng-model="newOrder.dc" required>
      </div>
      <div class="col-3">
        <label for="snick">Snicker-doodle</label>
        <input type="number" class="form-control" id="snick" aria-describedby="snick" ng-model="newOrder.sd" required>
      </div>
      <div class="col-3">
        <br>
        <label for="oat">Oatmeal</label>
        <input type="number" class="form-control" id="oat" aria-describedby="oat" ng-model="newOrder.om" required>
      </div>
  </div>
  <fieldset class="form-group" style="margin: 5%">
  <span>Form of Payment</span>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked required>
      Venmo
    </label>
  </div>
  <div class="form-check">
  <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" required>
      Cash at the door
    </label>
  </div>
</fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</center>
